include COPYING
include README.md
include RELEASE-VERSION
include version.py
include pavement.py
include paver-minilib.zip
include setup.py
include SConstruct
recursive-include signal_generator *
recursive-exclude signal_generator *.pyc
recursive-exclude signal_generator *.o
